[submodule "1-SoftwareRequirements"]
	path = 1-SoftwareRequirements
	url = https://github.com/oleksandrblazhko/ai-212-gurbin.git
[submodule "1.3-SoftwareUserRequirements"]
	path = 1.3-SoftwareUserRequirements
	url = https://github.com/oleksandrblazhko/ai-212-gurbin.git
[submodule "1.5-SoftwareProjectPlanning"]
	path = 1.5-SoftwareProjectPlanning
	url = https://github.com/oleksandrblazhko/ai-212-gurbin.git
[submodule "2-SoftwareDesign"]
	path = 2-SoftwareDesign
	url = https://github.com/oleksandrblazhko/ai-212-gurbin.git
